<mat-toolbar>
    <mat-toolbar-row class="justify-content-between" (click)="toggleFn()">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>Header
        <div > 
            <ul>
              <li>
                    <button mat-button [matMenuTriggerFor]="menu"></button>
                    <mat-menu #menu="matMenu">
                        <button>
                        <mat-icon>exit_to_app</mat-icon>
                        Logout
                    </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>