<p>sidebar works!</p>
<mat-nav-list>
    <h2 matSubheader class="mt-2">NAV 1</h2>
    
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>home</a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>link 2</mat-icon>Link</a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>link 2</mat-icon>Link</a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>link 2</mat-icon>Link</a>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>link 2</mat-icon>Link</a>        
</mat-nav-list>