
<mat-nav-list>
    <h1>sidebar works!</h1>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">NAV 1</h2>
    
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>home</a>
    <a mat-list-item routerLink="" routerLinkActive="list-item-active">
        <mat-icon>link 2</mat-icon>Link</a>
    <a mat-list-item routerLink="" routerLinkActive="list-item-active">
        <mat-icon>link 3</mat-icon>Link</a>
    <a mat-list-item routerLink="" routerLinkActive="list-item-active">
        <mat-icon>link 4</mat-icon>Link</a>
    <a mat-list-item routerLink="" routerLinkActive="list-item-active">
        <mat-icon>link 5</mat-icon>Link</a>        
</mat-nav-list>